<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shared Whispers</title>
    <link rel="manifest" href="/manifest.json" />
  </head>
  <style>
    body {
      font-family: sans-serif;
      margin: 16px;
    }
  </style>
  <body>

    Please open this app in Chrome on your phone and choose "Install App"
    to save it to your launch screen. You can then use it as a "Share" target
    for audio files.

    <a
      style="display: block; margin-top: 8px"
      href="https://replicate.com"
      target="_blank"
    >
      https://replicate.com
    </a>

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js');
      }

      const messageChannel = new MessageChannel();

      navigator.serviceWorker.controller.postMessage({
        type: 'INIT_PORT',
      }, [messageChannel.port2]);

      navigator.serviceWorker.controller.postMessage({
        type: 'PING',
      });

      messageChannel.port1.onmessage = (event) => {
        alert(event.data.payload);
      };

    </script>
  </body>
</html>
