{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div style="display: flex; justify-content: center; margin-top: 32px;">
  <img src="{% static "icons/icon_192.png" %}">
</div>
<p>
  Please open this app in Chrome on your phone and choose "Install App"<br>
  to save it to your launch screen.
  You can then use it as a "Share" target for audio files.
</p>
<hr>
<p>
  Make sure to store your <a href="https://replicate.com/openai/whisper">replicate.com</a>
  API token first, though:
</p>
<p style="display: flex">
  <form action="{% url 'home' %}" method="POST">
    <input
      type="password"
      name="replicate_api_token"
      placeholder="REPLICATE_API_TOKEN"
      style="flex-grow: 1; padding: 8px; margin-right: 4px; max-width: 480px;"
      value="{{ replicate_api_token }}"
    >
    <button type="submit" style="padding: 8px">Save</button>
  </form>
</p>

{% endblock content %}
