{% extends 'core/base.html' %}

{% block content %}

{% for transcription in transcriptions %}
  <h3>{{ transcription.original_filename }}</h3>
  <div
    style="
      font-size: small;
      color: gray;
    "
  >
    Transcription took {{ transcription.time|floatformat:1 }} seconds.
    <a
      href="https://replicate.com"
      target="_blank"
    >
      https://replicate.com
    </a>
  </div>
  <p>
    {{ transcription.text }}
  </p>
  <button onclick="copyTextToClipboard()" style="padding: 8px">Copy to clipboard</button>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}

<script>

function copyTextToClipboard() {
  const text = '{{ results.text }}';
  navigator.clipboard.writeText(text);
  alert('Copied text to clipboard');
}

</script>

{% endblock content %}
